[Unit]
Description=Splunk LabOps Hetzner Fail2Ban Collector

[Service]
Type=oneshot

WorkingDirectory=/mnt/hyperV/projects/splunk-labops

ExecStart=/usr/bin/python3 /mnt/hyperV/projects/splunk-labops/collectors/hetzner_fail2ban.py

Environment=PYTHONDONTWRITEBYTECODE=1

UMask=0077
TimeoutStartSec=10min
